.user-page {
  background-color: #edc7b7;
  height: 100vh;
}

.user-page-header {
  margin: 0;
  padding: 15px 0px;
  color: #ac3b61;
  text-align: center;
  font-size: 43px;
  font-weight: bolder;
}

.user-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.user-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.data-list {
  list-style: none;
}

.list-item {
  padding: 5px 0px;
}

.data-label {
  text-decoration: underline;
}

.map-container {
  height: 70vh;
  width: 100%;
}

.user-pin-pulse {
  background: rgba(125, 175, 255, 0.2);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}

.user-pin-pulse::after {
  content: '';
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #89849b;
  animation-delay: 1.1s;
}

.user-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #adcdff;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.user-pin::after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #7dafff;
  position: absolute;
  border-radius: 50%;
}

.pin-name {
  position: absolute;
  width: max-content;
  top: -35px;
  left: -60px;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

@media only screen and (max-width: 768px) {
  .user-page {
    display: flex;
    flex-direction: column;
  }
  .map-container {
    max-height: 40vh;
  }
  .user-data-container {
    flex-direction: column;
    height: 70vh;
  }
}
